// Colours
$blue:              #0403E8;
$light-blue:        #F4FCFF;
$light-gray:        #E9F0FD;
$licorice:          #1C0B19;
$purple:            #540D47;
$green:             #85FFC7;
$yellow:            #FFFD98;

// Breakpoints
$huge: 1600px;
$desktop: 1400px;
$laptop: 1024px;
$tablet: 800px;
$mobile: 0px 800px;
