---
body_classes: charts
---

<div id="line-basic" class="chart" style="width:100%; height:400px;"></div>
<div id="bar-stacked" class="chart" style="width:100%; height:400px;"></div>
<div id="bar-basic" class="chart" style="width:100%; height:400px;"></div>
<div id="pie-basic" class="chart" style="width:100%; height:400px;"></div>
<div id="pie-legend" class="chart" style="width:100%; height:400px;"></div>